body {
    background: linear-gradient(190deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    color: white;
}

.nav {
    margin-left: 1184px;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

button {
    background-color: rgb(253, 238, 210);
    border: 1px black;
    border-radius: 10px;
}

button:hover{
    box-shadow: 2px -2px 5px black;
}

.caja {
    margin-left: 512px;
}

.caja form input {
    background-color: rgb(253, 227, 210);
    border-radius: 20px;
    border: 5px; 
    text-align: center;
}