<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first ML project!</title>
    <link rel="stylesheet" href="/static/style.css">
    <navbar class="nav">
        <a href="/">Home</a>
        <a href="#">About</a>
    </navbar>
</head>
<body>
    <h1>Welcome to the 'Home-Price-Predictor'!</h1>
    <p>Predict house prices!</p>
    <div class="caja">
        <form action="{{url_for('predecir')}}" method="post">
            <input type="text" name="rooms" placeholder="# Rooms" required="required">
            <input type="text" name="distance" placeholder="Distance in km²" required="required">
            <button type="submit">Calculate</button>
        </form>
    </div>

    <br>
    <br>
    <p>{{ text_prediction }}</p>
</body>
</html>
